<f:form id="InsuranceCalculationForm" action="ajax" method="post" object="{policySearch}" name="policySearch" pageType="{ajaxPageTypeNum}">
    <h3>{policyContributionTitle}</h3>

    <label><f:translate key="insurancecalculator.label.form.age"/></label>
    <f:form.textfield
        property="age"
        type="number"
        min="0"
        step="1"
        required="required"
        title="{f:translate(key: 'insurancecalculator.label.form.age')}"
        placeholder="{f:translate(key: 'insurancecalculator.label.form.input.age.placeholder')}"
    />

    <f:form.hidden property="policyUid" value="{policySearch.policyUid}" />
    <f:form.submit id="searchButton" value="{f:translate(key: 'insurancecalculator.label.form.button.search')}" />
</f:form>

<div id="ajaxResult"></div>

<div id="errors" style="display: none; color: red;">
    <p></p>
</div>
